<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.patrichuan.battlequiz" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".ParseCom"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginScreen"
            android:label="@string/title_activity_login_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".RegisterScreen"
            android:label="@string/title_activity_register_screen"
            android:noHistory="true"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".MainMenuScreen"
            android:label="@string/title_activity_main_menu_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".SoloModeScreen"
            android:label="@string/title_activity_solo_mode_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".GameScreen"
            android:label="@string/title_activity_game_screen"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ComingSoon"
            android:label="@string/title_activity_comin_soon"
            android:launchMode="singleInstance"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ShopScreen"
            android:label="@string/title_activity_shop_screen"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".AchievementScreen"
            android:label="@string/title_activity_achievement_screen"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ThemeChoiceScreen"
            android:label="@string/title_activity_theme_choice_screen"
            android:screenOrientation="landscape" >
            android:screenOrientation="landscape"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/title_facebook_login" >
        </activity>
    </application>

</manifest>
